

<!DOCTYPE html  >
<html lang="en">

<head>
    <title>Dropout</title>
</head>

<body>
    <h1>This is a new session</h1>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        c = io('http://localhost:3000');
        
    </script>
</body>

</html>