
<!DOCTYPE html  >
<html lang="en">

<head>
    <title>Dropout</title>
    <link rel="stylesheet" href="/static/stylesheets/codemirror.css">
    <link rel="stylesheet" href="/static/stylesheets/monokai.css">
</head>

<body>
    <div id="code-editor">
      <div class="hde" style="display: none">{{ code }}</div>
    </div>
    <div id="chatSection">
        
    </div>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
      </script>
    <script src="/static/js/ot.js"></script>   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.39.2/codemirror.js"></script>
    <script src="/static/js/javascript.js"></script>
    <script src="/static/js/ruby.js"></script>
    <script src="/static/js/php.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const EditorClient = ot.EditorClient
        const SocketIOAdapter = ot.SocketIOAdapter
        const CodeMirrorAdapter = ot.CodeMirrorAdapter

        

        const socket = io('http://localhost:3000');
        const editor = CodeMirror(document.getElementById('code-editor'), {
            lineNumbers: true,
            theme: "monokai",
            mode: 'javascript'
        })

        let code = $('#code-editor').val();
        let client;
        function init(str, revision, clients, serverAdapter) {
          if (!code) {
            editor.setValue(str)
          }
            client = window.client = new EditorClient(
                revision, clients, serverAdapter, new CodeMirrorAdapter(editor)
            )
        }
        const sessionId = window.location.href.split("session")[1].split("/")[1];
        socket.emit('joinSession', {session: sessionId})
        socket.emit('mydoc', {session: 'kooltr'})
        socket.on('doc', (obj) => {
            console.log('heyyyy')
            init(obj.str, obj.revision, obj.clients, new SocketIOAdapter(socket))
        })
        
    </script>
    <script>
        

    </script>
   
    <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    <script type="text/babel">

        const Message = ({message}) => {

            return(
                <div className="message">
                    {message.sender}
                </div>
            )

            
        }
        class ChatSection extends React.Component {
            constructor() {
                super()
                this.state = {
                    messages: []
                }
            }
            
            componentDidMount(){
                this.setState({
                    messages: [ {
                        sender: 'claeusdev',
                        message: 'Good app'
                    },
                    {
                        sender: 'casprine',
                        message: 'Good app'
                    }
                    ]
                })
                
            }
            render() {
                const { messages } = this.state
                
                return (
                    <div className="section">
                        {messages.map(message => <Message key={message.sender} message={message}/>
                        )}
                    </div>
                )
            }
        }

        

        ReactDOM.render(<ChatSection />, document.getElementById('chatSection'))
    </script>
</body>

</html>