// Colors
$primary: #232931;
$accent: #00818a;
$defaultFont: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

// Fonts

@font-face {
  font-family: "Dropout";
  src: url("../fonts/dropout.ttf");
  font-display: auto;
  font-weight: normal;
}
