// Handlebars code

.redirect {
  background: $primary;
  color: white;
  .main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .name {
      font-size: 70px;
      font-weight: bold;
      padding: 5px;
    }

    p {
      font-size: 20px;
      margin: 10px;
    }

    a {
      color: white;
      color: $accent;
      font-style: italic;
      border-bottom: 1px dotted white;
    }
  }
}
